<h1 style="margin-bottom: 5px;">KTM SuperDuke</h1>
<p style="margin-bottom: 5px;">STATUS : {{status}}</p>
<p style="margin-bottom: 5px;">LONG : {{longitude}} | LAT : {{latitude}}</p>
<p style="margin-bottom: 5px;">BATT : {{battery_level}} | CELL : {{cell_gain}}</p>
<p style="margin-bottom: 5px;">LAST UPDATE : {{timestamp}}</p>